@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome.css")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>

        input, textarea, select {
            max-width: none;
        }

        .form-select,
        .form-control {
            color: white;
            border-radius: 0px;
            background-color: #3d3d3d !important;
            border-color: #000000;
            transition-duration: 0.3s;
        }

            .form-control:hover {
                border-color: #f3ca20;
            }

            .form-control:focus {
                background-color: #ffffff !important;
                border-color: #f3ca20;
                color: black;
                box-shadow: 0px 0px 9px 1px #f3ca20 !important;
            }


        body {
            background-image: url(https://lh3.googleusercontent.com/proxy/a6kXhBeA80FnCTWh0DxG3oOu_TlTcVWjoBXOi-SUSulgefvs6tzvB4zLOL5Kb8d_TPLAuOgNqer7CZAaMFJGMtH3HAVyRi2ZuxTQnCNmCivzsndmS4D-ciBUehLP);
            padding-top: 20px;
        }

        .btn-primary {
            background-color: #f3ca20;
            border-color: #f3ca20;
            border-radius: 0px;
            color: #000000;
            outline: none !important;
            transition-duration: 0.3s;
        }

            .btn-primary:hover {
                background-color: #000000;
                border-color: #000000;
            }

            .btn-primary:focus,
            .btn-primary:active {
                background-color: #f3ca20;
                border-color: #f3ca20;
                color: #000000;
                box-shadow: 0px 0px 9px 1px #f3ca20 !important;
            }

        .btn-success {
            background-color: #3d3d3d;
            border-color: #f3ca20;
            border-radius: 0px;
            color: #ffffff;
            outline: none !important;
            transition-duration: 0.3s;
        }

            .btn-success:hover {
                background-color: #000000;
                border-color: #000000;
            }

            .btn-success:focus,
            .btn-success:active {
                background-color: #f3ca20;
                border-color: #f3ca20;
                color: #000000;
                box-shadow: 0px 0px 9px 1px #f3ca20 !important;
            }

        .btn-danger {
            background-color: #99003A;
            border-color: #99003A;
            border-radius: 0px;
            color: #ffffff;
            outline: none !important;
            transition-duration: 0.3s;
        }

            .btn-danger:hover {
                background-color: #000000;
                border-color: #000000;
            }

            .btn-danger:focus,
            .btn-danger:active {
                background-color: #f3ca20;
                border-color: #f3ca20;
                color: #000000;
                box-shadow: 0px 0px 9px 1px #f3ca20 !important;
            }


        .btn-outline-primary {
            border-color: #f3ca20;
            border-radius: 0px;
            color: #ffffff;
            outline: none !important;
            transition-duration: 0.3s;
        }

            .btn-outline-primary:hover {
                background-color: #f3ca20;
                border-color: #000000;
            }

            .btn-outline-primary:focus,
            .btn-outline-primary:active {
                border-color: #f3ca20;
                color: #ffffff;
                box-shadow: 0px 0px 9px 1px #f3ca20 !important;
            }

        #Result {
            transition-duration: 0.3s;
        }

        .catalog-item {
            transition-duration: 0.3s;
        }

            .catalog-item:hover {
                transition-duration: 0.3s;
                background-color: #3d3d3d;
            }

        .form-check-input {
            background-color: #f3ca20;
            border-color: #f3ca20;
            border-radius: 0px;
            color: black;
            outline: none !important;
            transition-duration: 0.3s;
        }

            .form-check-input:checked,
            .form-check-input:focus,
            .form-check-input:active {
                background-color: black;
                border-color: #f3ca20;
                color: black;
                box-shadow: 0px 0px 9px 1px #f3ca20 !important;
            }

        .input-group-text {
            background-color: #f3ca20;
            border-color: #f3ca20;
            border-radius: 0px;
        }

        .Loading {
            font-size: 50px;
            transition-delay: 2s;
            animation: AnimateLoading 2s cubic-bezier(0.5, 1, 0.5, 1) alternate infinite;
        }

        @@keyframes AnimateLoading {
            10% {
                transform: rotate(0deg) scale(1);
            }

            100% {
                transform: rotate(360deg) scale(1.5);
            }
        }

        .margin-auto {
            margin-left: auto;
            margin-right: auto;
        }

        .cart {
            position: fixed;
            right: 0;
            bottom: 20%;
            width: 70px;
            height: 70px;
            font-size: 40px;
            cursor: pointer;
            text-align: center;
            transition: background-color 0.3s 0.0s linear, color 0.3s 0.0s linear;
            border-radius: 0px;
            background-color: #f3ca20;
            border: 1px black solid;
            border-bottom: none;
            color: #000000;
            text-decoration: none;
        }

            .cart:hover {
                background-color: #000000;
                color: #f3ca20;
            }


        .offcanvas {
            color: white;
            border-left: #f3ca20 1px solid;
        }

        .btn-close- {
            background: none;
            border: none;
            color: #f3ca20;
            font-size: 30px;
        }

        .nav-button {
            color: #f3ca20;
            text-decoration: none;
            padding: 0;
            margin-right: 30px;
        }

            .nav-button:hover {
                color: #f3ca20;
                text-decoration: none;
                text-shadow: 1px 1px 9px #f3ca20;
            }

        .colapse-button {
            color: #f3ca20;
            text-decoration: none;
            padding: 0;
            margin-right: 30px;
        }

            .colapse-button:hover {
                color: #f3ca20;
                text-decoration: none;
                text-shadow: 1px 1px 9px #f3ca20;
            }

            .colapse-button:after { content: "\25BC"; }
            .colapse-button[aria-expanded="true"]::after { content: "\25B2"; }
    </style>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    { 
        <div class="w-100 p-0 text-center" style="color: #f3ca20; height: 5%;">
            <p class="p-0 pb-4 m-0">Ви увійшли як @User.Identity.Name</p>
        </div>
    }
    <div class="w-100 container-fluid bg-dark">
        <div class="d-grid" style="grid-template-columns: 10% 90%; align-items: center;">
            <div class="d-grid" style="margin-left: 50px; grid-template-columns: 40% 100%; color: #f3ca20; font-size: 40px; align-items: center;">
                <ion-icon name="game-controller" style=""></ion-icon>
                <p style="font-size: 15px;" class="m-0 p-0">StroreName</p>
            </div>
            <div class="d-grid" style="grid-template-columns: 30% 30% 30%; color: white;">
                <div class="margin-auto">
                    <a class="nav-button" aria-current="page" href="~/Catalog/Index">Каталог</a>
                    @if (User.IsInRole("Administrator"))
                    {
        <a class="nav-button" aria-current="page" href="~/Manager/Index">Управління</a>}

                </div>
                <div class="margin-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
        <a class="nav-button" aria-current="page" href="~/Cart/Index">Кошик</a>
                        <a class="nav-button" aria-current="page" href="~/Order/History">Історія</a>}
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>

    <div class="container">
        @RenderBody()

    </div>


    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        function FileUpd(Input) {

            var Files = Input.files;
            var Img = $(Input).parent().parent().children().children();

            console.log(window.URL.createObjectURL(Files[0]));
            Img.attr("src", window.URL.createObjectURL(Files[0]));
        }

        function PopUpShow() {
            $("#PopUp").fadeIn();
            $("body").attr("style", "overflow-y: hidden;");
        }


        function Upd(route) {
            $("#Loading").show();
            $('#Table').hide();
            setTimeout(function () {
                $('#Table').show();
                $("#Loading").hide();
                $('#Table').load(route);
            }, 1500);
        }

        function PopUpHide() {
            $("#PopUp").fadeOut();
            $("body").attr("style", "overflow-y: scroll;");
        }
    </script>

</body>
</html>
