@model GamesShop.Models.ChangePasswordViewModel
@{
    ViewBag.Title = null;
}

<h2>@ViewBag.Title.</h2>
<div class="col-9 mt-5 bg-dark p-2 pt-5 pb-5 text-center" style="margin-left:40px; color: white; margin-left: auto; margin-right: auto;">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Форма зміни паролю</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, "Активний пароль", new { @class = "col-md-12 control-label"})
            <div class="col-md-12, value="змінити пароль"">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group mt-4">
            @Html.LabelFor(m => m.NewPassword, "Новий пароль", new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group mt-4">
            @Html.LabelFor(m => m.ConfirmPassword, "Підтвердження нового паролю", new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group mt-5">
            <div class=" col-md-12">
                <input type="submit" value="Змінити пароль" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
