@model GamesShop.Models.Product
@using Microsoft.AspNet.Identity;
@using GamesShop.Models;
@{
    ApplicationDbContext Context = new ApplicationDbContext();
    string UserId = User.Identity.GetUserId();
    ApplicationUser CurrentUser = Context.Users.Find(UserId);
}
<div class="row col-12">
    <div id="carouselControls" class="carousel slide col-6" data-bs-ride="carousel">
        <div class="carousel-inner" style="align-items: center; display: flex; height: 300px;">
            <div class="carousel-item active">
                <img src="~/Files/@Model.Files.FirstOrDefault().FileName" class="d-block w-100" alt="Image">
            </div>
            @foreach (var File in Model.Files.SkipWhile(i => i.Id == Model.Files.FirstOrDefault().Id))
            {
                <div class="carousel-item">
                    <img src="~/Files/@File.FileName" class="d-block w-100" alt="Image">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="col-6 row">
        <h4 class="col-12 mb-5 text-center">@Model.ProductName</h4>
        <p class="col-6">
            Жанр: @foreach (var Category in Model.Categories)
            {@(Category.CategoryName + ", ")}
        </p>
        <p class="col-6 text-center" style="font-size: 20px; color: #f3ca20"><b>@Model.Price</b> грн.</p>
        <p class="col-6">Дата виходу: @Model.ReleaseDate.ToLongDateString()</p>
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.Keys.Where(i => i.IsUsed == false).Count() > 0)
            {
                if (CurrentUser.Cart.Products.Where(i => i.Id == Model.Id).Count() > 0)
                {
                    <p class="col-6 text-center" style="color: #f3ca20 ">Ця гра вже у вашій <a href="~/Cart/Index">корзині</a></p>
                }
                else
                {
                    <a class="btn btn-primary col-6" data-ajax="true" onclick="PopUpHide();" href="/Cart/AddToCart/@Model.Id">Додати у кошик</a>
                }
            }
            else
            {
                <p class="col-6 text-center" style="color: #f3ca20 ">Ключів для даної гри немає в наявності</p>
            }

        }
        else
        {
            <p class="col-6" style="color: #f3ca20 ">Для того щоб придбати товар будь ласка <a href="~/Account/Login">увійдіть</a>, або <a href="~/Account/Register">зареєструйтесь</a></p>
        }
        <p class="col-6">
            Операційні системи: @foreach (var OS in Model.OperatingSystems)
            {@(OS.Name + ", ")}
        </p>
        <p class="col-6 text-center">
            Ключів в наявності: @Model.Keys.Where(i => i.IsUsed == false).Count()
        </p>
        <p>Розробник: @Model.Developer.DeveloperName</p>
        <p>Видавець: @Model.Publisher.PublisherName</p>
        <p>Рейтинг метакритику: @Model.Rating</p>
    </div>
    <div class="col-6 mt-5 row text-center">
        <h5 class="col-12 mb-3 text-center">Системні зарактеристики</h5>
        <p class="col-12">
            Процесор: @Model.Processor
        </p>
        <p class="col-12">
            RAM: @Model.RAM
        </p>
        <p class="col-12">
            Відеокарта: @Model.VideoCard
        </p>
        <p class="col-12">
            Місце на диску: @Model.DriveSpace
        </p>
        <p class="col-12">
            Інше: @Model.Other
        </p>
    </div>
    <div class="col-6 mt-5 row">
        <h5 class="col-12 mb-3 text-center">Опис</h5>
        <p class="col-12 m-2" style=" word-break: break-word; ">
            @Model.Description
        </p>
    </div>

    <div class="col-12 mt-5 row">
        <h5 class="col-12 mb-3 text-center">Коментарі</h5>
        @if (User.Identity.IsAuthenticated)
        {
            <form action="/Comment/CommentAdd" class="row col-12" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CommentArea" id="form0" method="post"> 
                <div class="col-7 row margin-auto" style="padding-right: 0px;">
                    <div class="col-10 p-0">
                        <input hidden value="@Model.Id" name="Id"/>
                        <textarea name="Text" class="form-control"></textarea>
                    </div>
                    <div class="col-2">
                        <input class="btn btn-primary h-100" type="submit" value="Підтвердити"/>
                    </div>
                </div>     
            </form>
        }
        else
        {
             <p class="col-12 text-center" style="color: #f3ca20 ">Для того щоб коментувати будь ласка <a href="~/Account/Login">увійдіть</a>, або <a href="~/Account/Register">зареєструйтесь</a></p>
        }

    <div class="col-12" id="CommentArea">
        @foreach (var Comment in Model.Comments)
        {
            <div class="col-7 margin-auto mt-5 row" style="border: 1px solid #f3ca20">
                <div class="col-2 d-flex align-items-center" style="background-color: #3d3d3d;">
                    <p class="text-center col-12 m-0 p-0">@Comment.User.UserName</p>
                </div>
                <div class="col-8" id="@("Comment" + Comment.Id)">
                    <p class="m-0 mt-3 p-0">@Comment.CommentText</p>
                    @if (Comment.User.Id == User.Identity.GetUserId())
                    {
                        <p class="m-0 p-0"><a href="~/Comment/Edit/@Comment.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@("Comment" + @Comment.Id)" class="nav-button">Редагувати</a><a href="~/Comment/Delete/@Comment.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@("Comment" + @Comment.Id)" class="nav-button">Видалити</a></p>
                    }
                </div>
                <div class="col-2 d-flex align-items-center" style="background-color: #3d3d3d;">
                    <p class="text-center col-12 m-0 p-0">@Comment.Date.ToShortDateString()</p>
                </div>
            </div>
        }

    </div>
   
    </div>

</div>
